<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2019 W.I.S.V. 'Christiaan Huygens'
  Copyright 2018 The MITRE Corporation
     and the MIT Internet Trust Consortium

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <JSONLayout compact="true" eventEol="true" properties="true"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Application Loggers -->
        <logger name="ch.wisv" level="debug"/>
        <logger name="org.mitre.openid" level="debug"/>
        <logger name="org.mitre.data.AbstractPageOperationTemplate" level="warn"/>
        <logger name="org.mitre.openid.connect.service.impl.DefaultApprovedSiteService" level="info"/>
        <logger name="org.mitre.oauth2" level="info"/>
        <logger name="org.mitre.discovery" level="info"/>
        <logger name="org.mitre.jose" level="info"/>
        <logger name="org.mitre.jwt" level="info"/>
        <logger name="org.mitre.util" level="info"/>

        <!-- 3rdparty Loggers -->
        <logger name="org.springframework.core" level="info"/>
        <logger name="org.springframework.beans" level="info"/>
        <logger name="org.springframework.context" level="info"/>
        <logger name="org.springframework.web" level="info"/>
        <logger name="org.springframework.security" level="warn"/>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
